<div ngbAccordion>
  <div ngbAccordionItem>
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        <i class="bi bi-gear me-1"></i>
        Теория метода
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="mb-3">
          Метод Гаусса — классический метод решения системы линейных
          алгебраических уравнений (Рис. 1). Это метод последовательного
          исключения переменных, когда с помощью элементарных преобразований
          система уравнений приводится к равносильной системе треугольного вида,
          из которой последовательно, начиная с последних (по номеру), находятся
          все переменные системы.
        </div>

        <div class="mb-3">
          <b>
            Алгоритм решения СЛАУ методом Гаусса подразделяется на два этапа.
          </b>
          <div class="mb-2">
            На первом этапе осуществляется так называемый прямой ход, когда
            путём элементарных преобразований над строками систему приводят к
            ступенчатой или треугольной форме, либо устанавливают, что система
            несовместна. А именно, среди элементов первого столбца матрицы
            выбирают ненулевой, перемещают его на крайнее верхнее положение
            перестановкой строк и вычитают получившуюся после перестановки
            первую строку из остальных строк, домножив её на величину, равную
            отношению первого элемента каждой из этих строк к первому элементу
            первой строки, обнуляя тем самым столбец под ним. После того, как
            указанные преобразования были совершены, первую строку и первый
            столбец мысленно вычёркивают и продолжают пока не останется матрица
            нулевого размера. Если на какой-то из итераций среди элементов
            первого столбца не нашёлся ненулевой, то переходят к следующему
            столбцу и проделывают аналогичную операцию.
          </div>

          <div class="mb-2">
            На втором этапе осуществляется так называемый обратный ход, суть
            которого заключается в том, чтобы выразить все получившиеся базисные
            переменные через небазисные и построить фундаментальную систему
            решений, либо, если все переменные являются базисными, то выразить в
            численном виде единственное решение системы линейных уравнений. Эта
            процедура начинается с последнего уравнения, из которого выражают
            соответствующую базисную переменную (а она там всего одна) и
            подставляют в предыдущие уравнения, и так далее, поднимаясь по
            «ступенькам» наверх. Каждой строчке соответствует ровно одна
            базисная переменная, поэтому на каждом шаге, кроме последнего
            (самого верхнего), ситуация в точности повторяет случай последней
            строки.
          </div>
        </div>

        <div class="d-flex flex-column mb-3">
          <img
            src="../../assets/equation0.png"
            id="genericlinearsys"
            alt="Общий вид системы линейных алгебраических уравнений"
            class="equation align-self-center"
          />
          <label
            for="genericlinearsys"
            class="small text-muted text-center align-self-center"
            >Рис 1. Общий вид системы линейных алгебраических уравнений</label
          >
        </div>

        <div class="mb-3">
          В простейшем случае алгоритм сформулирован так: Из последнего
          ненулевого уравнения выражаем базисную переменную через небазисные и
          подставляем в предыдущие уравнения. Повторяя эту процедуру для всех
          базисных переменных, получаем фундаментальное решение (Рис. 2).
        </div>
        <div class="d-flex flex-column mb-3">
          <img
            src="../../assets/equation1.png"
            id="genericlinearsysalg"
            alt="Алгоритм в общем виде"
            class="equation align-self-center"
          />
          <label
            for="genericlinearsysalg"
            class="small text-muted text-center align-self-center"
            >Рис 2. Алгоритм в общем виде</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
