<div class="container">
  <div class="h4 mt-2">Калькулятор</div>
  <div class="row g-5">
    <div class="col-12 col-lg-6">
      <div class="h5">Конфигурация матрицы</div>
      <div class="d-flex flex-row mb-2 flex-wrap">
        <div class="flex-grow-2 flex-fill">
          <label class="text-muted" for="inputGroup-rows"
            >Количество неизвестных</label
          >
          <input
            type="number"
            class="form-control"
            aria-label="Order input"
            id="matrixOrder"
            name="matrixOrder"
            required
            min="1"
            max="10"
            #matrixOrder="ngModel"
            [(ngModel)]="order"
            (onModelChange)="resizeMatrix(order, order + 1)"
          />
        </div>
        <button
          class="btn btn-outline-primary align-self-end flex-grow-1"
          (click)="resizeMatrix(order, order + 1)"
          [disabled]="
            matrixOrder.invalid && (matrixOrder.dirty || matrixOrder.touched)
          "
        >
          <i class="bi bi-pencil"></i>
          Изменить размер
        </button>
        <button
          class="btn btn-outline-primary align-self-end flex-grow-1"
          (click)="regenMatrix()"
          [disabled]="
            matrixOrder.invalid && (matrixOrder.dirty || matrixOrder.touched)
          "
        >
          <i class="bi bi-x-lg"></i>
          Очистить
        </button>
      </div>

      @if (matrixOrder.invalid && (matrixOrder.dirty || matrixOrder.touched)) {
      <div class="alert alert-warning">
        @if (matrixOrder.errors?.['required']) {
        <div>Введите количество неизвестных</div>
        } @if (matrixOrder.errors?.['min']) {
        <div>Слишком маленькое количество неизвестных</div>
        } @if (matrixOrder.errors?.['max']) {
        <div>Слишком большое количество неизвестных</div>
        }
      </div>
      }

      <div class="h5">Значения</div>
      <div class="card p-0 border-2 border-top-0 border-bottom-0 mb-2">
        <div class="d-flex table-responsive">
          <div class="d-flex flex-column">
            @for (row of matrix.value; track trackByFn(rowIndex, row); let
            rowIndex = $index; ) {
            <div class="d-flex flex-row">
              @for (col of row; track trackByFn(colIndex, col); let colIndex =
              $index) {
              <div class="input-group flex-nowrap m-1" style="min-width: 4rem">
                <div class="input-group-text font-monospace">
                  <span class="text-muted">a </span
                  ><span class="small"
                    >{{ rowIndex + 1 }},{{ colIndex + 1 }}</span
                  >
                </div>
                <input
                  type="number"
                  class="form-control"
                  aria-label="Columns input"
                  id="inputGroup-cols"
                  aria-describedby="inputGroup-cols-sm"
                  [(ngModel)]="matrix.value[rowIndex][colIndex]"
                  style="min-width: 4rem"
                />
              </div>
              }
            </div>
            }
          </div>
        </div>
      </div>
      <div class="d-flex">
        <button
          class="btn btn-outline-primary align-self-end flex-grow-1"
          (click)="calculateRoots()"
        >
          <i class="bi bi-calculator"></i>
          Вычислить корни
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="h5">Результат</div>
      <div>
        @if (result.length == 0 ) {
        <div class="mb-2">
          Нажмите кнопку
          <button
            disabled
            class="btn btn-outline-primary align-self-end flex-grow-1 btn-sm"
          >
            <i class="bi bi-calculator"></i>
            Вычислить корни
          </button>
          для вычисления
        </div>
        } @else if (result.includes(nan)) {
        <div class="alert alert-danger">
          <h4 class="alert-heading">Система не имеет решений</h4>
          Попробуйте изменить условие
        </div>
        } @else {
        <div>Результаты вычислений:</div>
        @for (item of result; track $index) {
        <div class="input-group flex-nowrap mb-1">
          <div class="input-group-text font-monospace">
            <span class="text-muted">x</span>
            <span class="small">{{ $index + 1 }}</span>
          </div>
          <div class="form-control">
            {{ item }}
          </div>
        </div>
        }}
      </div>

      <div ngbAccordion>
        <div ngbAccordionItem>
          <div ngbAccordionHeader>
            <button ngbAccordionButton>
              <i class="bi bi-gear me-1"></i>
              Теория метода
            </button>
          </div>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <!-- TODO: Add actual theory -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
